.link-list-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link-item {
    padding: 8px 16px;
    cursor: pointer;
    position: relative;
}
.link-item:hover {
    /* background-color: aqua; */
}

.link-item:hover .link-children-list {
    visibility: visible;
}

.link-children-list {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    width: 150px;
    padding: 4px 0;
    transition: 0.3s;
}

.link-children-item {
    padding: 4px 16px;
    text-align: left;
}