.court-detail-container {
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.court-detail-header {
    padding-bottom: 32px;
}

.court-detail-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.court-detail-body-info-block {}

.court-detail-body-info-block-label {
    margin-bottom: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1;
    font-weight: 600;
}

.court-detail-body-info-label {
    margin-bottom: 6px;
    line-height: 1;
    font-weight: 600;
}

.court-detail-body-images {
    position: relative;
    width: 100%;
    max-width: 100%;
    padding-bottom: 20px;
}

.court-detail-body-images img {
    max-width: 100%;
    height: auto;
}

.court-detail-body-link {
    display: inline-block;
    padding: 4px 0;
    color: blue;
    font-weight: 500;
    font-size: 16px;
    text-decoration: underline;
}

.court-detail-body-info-block-fake-icon {
    font-weight: 600;
    font-size: 16px;
    color: var(--primary-color)
}