.court-detail-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 2.5em;
    color: #333;
    margin: 0;
}

.image {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.description {
    font-size: 1.2em;
    color: #555;
    margin: 20px 0;
    text-align: center;
}

.infoSection {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.infoBlock {
    flex: 1 1 calc(50% - 20px);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.infoBlock h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.infoBlock p,
.infoBlock ul {
    font-size: 1em;
    color: #555;
    margin: 5px 0;
}

.infoBlock ul {
    list-style-type: none;
    padding: 0;
}

.infoBlock li {
    margin: 5px 0;
}