:root {
    --bg: #ffffff;
    --soft-bg: #f9f9f6;
    --text-dark: #0f0f0f;
    --text-light: #a1a1a1;
    --primary-color: #99de47;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    min-height: 100vh;
    background-color: var(--bg);
    color: var(--textColor);
}

.wrapper {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 80px;
    padding-right: 80px;
}

@media screen and (max-width: 1536px) {
    .wrapper {
        max-width: 1366px;
    }
}

@media screen and (max-width: 1280px) {
    .wrapper {
        max-width: 1024px;
    }
}

@media screen and (max-width: 1024px) {
    .wrapper {
        max-width: 768px;
    }
}

@media screen and (max-width: 1024px) {
    .wrapper {
        max-width: 860px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 860px) {
    .wrapper {
        max-width: 768px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        max-width: 640px;
    }
}

@media screen and (max-width: 640px) {
    .wrapper {
        max-width: 475px;
    }
}

@font-face {
    font-family: 'Jaro';
    src: url('/fonts/jaro/Jaro-Regular.ttf') format('ttf'),
        url('/fonts/jaro/Jaro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}