.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}