.google-map-container .gm-ui-hover-effect{
    width: fit-content !important;
    height: fit-content !important;
}
.google-map-container .gm-ui-hover-effect span{
    margin: 4px !important;
    width: 28px !important;
    height: 28px !important;
}