.court-form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.court-form-input {
    padding: 8px;
    border-radius: 4px;
}

.error-messsage {
    color: red;
    font-size: 12px;
}

.court-form-submit {}