.tim-san-container {}

.courts-number-container {
    font-family: unknow-font, sans-serif;
}

.courts-number {
    color: red;
    font-weight: 600;
    font-size: 20px;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
}